<div class="block pl-4">
  <h1 class="text-3xl font-bold mb-2">Contact Cap Smarter</h1>
  <p class="text-base text-gray-600">Feel free to reach out through email.</p>
  <p class="text-base text-gray-600 mb-2">Cap Smarter aims to be as accurate as possible. Feel free to reach out for corrections or feature requests</p>

<p><strong class="text-xl  mb-2">Contact Us</strong></p>

    <%= render(LinkComponent.new(href: "mailto:capsmarter@gmail.com")) do %>
      capsmarter@gmail.com
    <% end %>
</div>
